# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.so

# SQLite DB
*.sqlite3

# Logs
*.log

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Environment variables
.env

# Media and static files
media/
staticfiles/

# Model
models/models/buffalo_l*
